body{
    background-color: rgb(250, 242, 231);
}
h1{
    padding: 2rem 1.7rem;
}
p{
    font-size: 1.5rem;
    padding: 9.5rem 0rem 0rem 0rem;
}
.guess_box{
    border: 1px solid black;
    background-color: rgb(245, 178, 189);
    color: rgb(255, 249, 242);
    text-align: center;
    width: 52rem;
    height: 48rem;
    margin: 8rem auto;
    border-radius: 2rem;
}
.text_box{
    width: 3.2rem;
    height: 2.2rem;
}
.submit{
    border-radius: 1rem;
    padding: 0.5rem 1.2rem;
}